@model NuWebNCloud.Shared.Models.Sandbox.Inventory.Promotion.SpendingRuleDTO

@if (Model != null && Model.ListProduct != null && Model.ListProduct.Count > 0)
{
    for (int i = 0; i < Model.ListProduct.Count; i++)
    {
        <tr data-id="@Model.ListProduct[i].ProductID" class="productName_@Model.OffSet" data-value="@Model.ListProduct[i].Name" data-spy="@Model.ListProduct[i].IsAllowDiscount">
            <td>
                @Model.ListProduct[i].ProductCode
            </td>
            <td>
                @Model.ListProduct[i].Name

                @Html.Hidden(string.Format("ListSpendingRule[{0}].ListProduct[{1}].OffSet",
                   Model.OffSet, Model.ListProduct[i].OffSet), Model.ListProduct[i].OffSet)

                @Html.Hidden(string.Format("ListSpendingRule[{0}].ListProduct[{1}].ProductCode",
                   Model.OffSet, Model.ListProduct[i].OffSet), Model.ListProduct[i].ProductCode)

                @Html.Hidden(string.Format("ListSpendingRule[{0}].ListProduct[{1}].Name",
                   Model.OffSet, Model.ListProduct[i].OffSet), Model.ListProduct[i].Name)

                @Html.Hidden(string.Format("ListSpendingRule[{0}].ListProduct[{1}].ProductID",
                   Model.OffSet, Model.ListProduct[i].OffSet), Model.ListProduct[i].ProductID)

                @Html.Hidden(string.Format("ListSpendingRule[{0}].ListProduct[{1}].ItemType",
                   Model.OffSet, Model.ListProduct[i].OffSet), Model.ListProduct[i].ItemType)

                @Html.Hidden(string.Format("ListSpendingRule[{0}].ListProduct[{1}].Status",
                   Model.OffSet, Model.ListProduct[i].OffSet), Model.ListProduct[i].Status,
                   new { @class = "DishStatus" })
            </td>
            <!--Button Delete Item-->
            <td width="50px">
                <a href="javascript:void(0)" onclick="DeleteItems(this); return false;">
                    <i class="glyphicon glyphicon-minus-sign" style="font-size: 25px; color: red; padding: 5px 0px; "></i>
                </a>
            </td>
        </tr>
    }
}