@using NuWebNCloud.Shared.Utilities;
@model NuWebNCloud.Shared.Integration.Models.Sandbox.Inventory.InteCategoriesModels
<div role="main" class="right_col">
    <div class="">
        <div class="page-title">
            <div class="title_left" style="padding: 10px 0px;">
                @Html.Partial("~/Views/Shared/_breadcrumb.cshtml",
                new Dictionary<string, string> { { "A", "Sandbox" }, { "B", "Inventory" }, { "C", "Categories - View Detail" } })
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 x_panel">
                    <div class="x_content">
                        <div class="row text-right">
                            <ul class="header-buttons pull-right list-inline">
                                <li><a href="#" onclick="CloseDetail(); return false;" class="btn btn-danger" id="btn-delete"><i class="fa fa-times"></i>&nbsp;@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Close"))</a></li>
                            </ul>
                        </div>
                        <div class="row form-horizontal form-label-left">
                            <div class="row form-horizontal form-label-left" style="margin-bottom:15px;">
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12"> </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <img id="upload-preview" src="@Model.ImageURL" height="100" width="100" class="img-circle" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Store Name")): </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Model.StoreName
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Category Name")): </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Model.Name
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Description")): </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Model.Description
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Type")): </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Model.ProductTypeName
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("GLAccount Code")): </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Model.GLAccountCode
                                    </div>
                                </div>
                                @*<div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Split Sales")): </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @string.Format("{0}", @Model.IsGiftCard ? (_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Yes")) : (_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("No")))
                                    </div>
                                </div>*@
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Include Net Sale")): </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @string.Format("{0}", @Model.IsIncludeNetSale ? (_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Yes")) : (_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("No")))
                                    </div>
                                </div>
                                @if (!string.IsNullOrEmpty(Model.ParentName))
                                {
                                    <div class="form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Parent Name")): </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            @Model.ParentName
                                        </div>
                                    </div>
                                }

                                @if (Model.ListCategoryOnStore != null && Model.ListCategoryOnStore.Count > 0)
                                {
                                    for (int i = 0; i < Model.ListCategoryOnStore.Count; i++)
                                    {
                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12" style="font-size: 14px;">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Store Name")): </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12" style="font-size: 14px; color: red">
                                                @Model.ListCategoryOnStore[i].StoreName
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Sequence")): </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                @Model.ListCategoryOnStore[i].Sequence
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Show in Reservation & Queue")): </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                @string.Format("{0}", @Model.ListCategoryOnStore[i].IsShowInReservation ? (_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Yes")) : (_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("No")))
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Show In Kiosk")): </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                @string.Format("{0}", @Model.ListCategoryOnStore[i].IsShowInKiosk ? (_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Yes")) : (_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("No")))
                                            </div>
                                        </div>
                                    }
                                }

                                @*<div class="form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Created Date: </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            @Model.CreatedDate
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Created User: </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            @Model.CreatedUser
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Last Modified: </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            @Model.LastModified
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Modified User: </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            @Model.ModifiedUser
                                        </div>
                                    </div>*@
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>