@using NuWebNCloud.Shared.Utilities;
@model NuWebNCloud.Shared.Integration.Models.Sandbox.Inventory.InteCategoriesModels
@{
    ViewBag.Title = @Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Categories - Add New"));
}

<div role="main" class="right_col">
    <div class="se-pre-con" style="display: none;"></div>
    <div class="">
        <div class="page-title">
            <div class="title_left" style="padding: 10px 0px;">
                @Html.Partial("~/Views/Shared/_breadcrumb.cshtml",
                new Dictionary<string, string> { { "A", "Sandbox" }, { "B", "Inventory" }, { "C", "Categories - Add New" } })
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 x_panel">
                    <div class="x_title">
                        @Html.Partial("_TabMenu", "create")
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">
                        <div class="row text-right">
                            <ul class="header-buttons pull-right list-inline">
                                <li><a href="javascript:void(0);" class="btn btn-success" id="btn-actives" onclick="SubmitForm('.create-form')"><i class="fa fa-save"></i>&nbsp;@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Save"))</a></li>
                                <li><a href="@Url.Action("Index", "SBInventoryCategoriesInte")" class="btn btn-danger" id="btn-delete"><i class="fa fa-times"></i>&nbsp;@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Cancel"))</a></li>
                            </ul>
                        </div>
                        <div class="box-body" style="display: block;">
                            @using (@Html.BeginForm("Create", "SBInventoryCategoriesInte", FormMethod.Post, new { @class = "form-horizontal create-form", @enctype = "multipart/form-data" }))
                            {
                                @Html.Partial("_Form", Model)
                            }
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">

        function disableButton(btn, status) {
            if (status) {
                $(btn).addClass('disabled');
            } else {
                $(btn).removeClass('disabled');
            }
        }

        function SubmitForm(form) {
            disableButton('#btn-actives', true);
            $(form).submit();
        }

        //$('.create-form').submit(function () {
        //    ////disableButton('#btn-actives', true);
        //    ////$(this).submit();
        //    //return;

        //    $.ajax({
        //        url: $(this).attr('action'),
        //        type: "POST",
        //        //data: $(this).serialize(),
        //        data: new FormData(this),
        //        processData: false,
        //        contentType: false,

        //        beforeSend: function () {
        //            $('.se-pre-con').show();
        //        },
        //        complete: function () {
        //            $('.se-pre-con').hide();
        //        },
        //        success: function () {
        //            //var url = BaseUrl + ControllerName;
        //            //window.location.href = url;
        //            CloseDetail();
        //            Search();
        //        },
        //        error: function (jqXHR, textStatus, errorThrown) {
        //            $(".detail-view").html(jqXHR.responseText);
        //        }
        //    });
        //    return false;
        //});

        $("#storeDdl").change(function () {
            StoreID = this.value;
        });

        $(document).ready(function () {
            //$("#storeDdl").select2({
            //    placeholder: "Please choose store",
            //    //allowClear: true
            //});
            $("#ProductTypeDdl").select2({
                placeholder: '@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Please choose type product"))',
                //allowClear: true
            });
            $("#ddlParentCate").select2({
                placeholder: '@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Please choose parent category"))',
                allowClear: true,

                // Updated 09222017
                templateResult: function (data) {
                    if (!data.element) {
                        return data.text;
                    }
                    var $element = $(data.element);
                    var $wrapper = $('<span></span>');
                    $wrapper.addClass($element[0].className);
                    $wrapper.text(data.text);
                    // Set format
                    var className = $element[0].className;
                    var level = className.substr(5) * 1.8;
                    $wrapper.css("padding-left", level + "em");
                    return $wrapper;
                }
            });
        });
    </script>
}
