@using NuWebNCloud.Shared.Utilities;
@model NuWebNCloud.Shared.Models.Settings.XeroSettingModels
@{
    ViewBag.Title = _AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("General Settings") + "-" + _AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Edit");
}
<div role="main" class="right_col">
    <div class="">
        <div class="page-title">
            <div class="title_left" style="padding: 10px 0px;">
                @Html.Partial("~/Views/Shared/_breadcrumb.cshtml",
                new Dictionary<string, string> { { "A", "Settings" }, { "B", "Xero Settings"}, { "C", "Edit" } 
                })
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 x_panel">
                    <div class="x_content">
                        <div class="row text-right">
                            <ul class="header-buttons pull-right list-inline">
                                <li><a href="javascript:void(0)" class="btn btn-success" id="btn-edit-save" onclick="SubmitForm('#form-edit')"><i class="fa fa-save"></i>&nbsp;@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Save"))</a></li>
                                <li><a href="javascript:void(0)" class="btn btn-danger" id="btn-delete" onclick="CloseDetail(); return false;"><i class="fa fa-times"></i>&nbsp;@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Cancel"))</a></li>
                            </ul>
                        </div>
                        <div class="box-body" style="display: block;">
                            @using (@Html.BeginForm("Edit", "SXero", FormMethod.Post, new { @id = "form-edit", @class = "form-horizontal" }))
                            {
                                @Html.Partial("_Form", Model)
                            }
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#form-edit").submit(function (e) {
        $('.se-pre-con').show();
        $.ajax({
            url: $(this).attr('action'),
            type: "post",
            data: new FormData(this),
            processData: false,
            contentType: false,
            success: function () {
                $('.se-pre-con').hide();
                CloseDetail();
                Search();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $('.se-pre-con').hide();
                $(".detail-view").html(jqXHR.responseText);
            }
        });
        e.preventDefault();
    });

    $(document).ready(function () {

        $("#idCostOfGoodSold").select2({
            placeholder: "@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Select Account"))",
            allowClear: true
        }).val(@Html.Raw(Json.Encode(Model.CostOfGoodSold))).trigger('change.select2');
    
        $("#idStockOnHand").select2({
            placeholder: "@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Select Account"))",
            allowClear: true
        }).val(@Html.Raw(Json.Encode(Model.StockOnHand))).trigger('change.select2');

        $("#idMiscellaneous").select2({
            placeholder: "@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Select Account"))",
            allowClear: true
        }).val(@Html.Raw(Json.Encode(Model.Miscellaneous))).trigger('change.select2');
        
        $("#idRoundingError").select2({
            placeholder: "@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Select Account"))",
            allowClear: true
        }).val(@Html.Raw(Json.Encode(Model.RoundingError))).trigger('change.select2');
    
        $("#idDiscountAccount").select2({
            placeholder: "@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Select Account"))",
            allowClear: true
        }).val(@Html.Raw(Json.Encode(Model.DiscountAccount))).trigger('change.select2');
    
        $("#idLoyaltyLiability").select2({
            placeholder: "@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Select Account"))",
            allowClear: true
        }).val(@Html.Raw(Json.Encode(Model.LoyaltyLiability))).trigger('change.select2');
    
        $("#idLoyaltyexpense").select2({
            placeholder: "@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Select Account"))",
            allowClear: true
        }).val(@Html.Raw(Json.Encode(Model.Loyaltyexpense))).trigger('change.select2');
    
        $("#idGCLiability").select2({
            placeholder: "@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Select Account"))",
            allowClear: true
        }).val(@Html.Raw(Json.Encode(Model.GCLiability))).trigger('change.select2');
    
        $("#idDeposit").select2({
            placeholder: "@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Select Account"))",
            allowClear: true
        }).val(@Html.Raw(Json.Encode(Model.Deposit))).trigger('change.select2');
    
        $("#idPayout").select2({
            placeholder: "@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Select Account"))",
            allowClear: true
        }).val(@Html.Raw(Json.Encode(Model.Payout))).trigger('change.select2');
    
        $("#idTillPaymentDiscrepanceis").select2({
            placeholder: "@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Select Account"))",
            allowClear: true
        }).val(@Html.Raw(Json.Encode(Model.TillPaymentDiscrepanceis))).trigger('change.select2');
    
        $("#idCashFloat").select2({
            placeholder: "@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Select Account"))",
            allowClear: true
        }).val(@Html.Raw(Json.Encode(Model.CashFloat))).trigger('change.select2');
    
        $("#idRefundByGC").select2({
            placeholder: "@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Select Account"))",
            allowClear: true
        }).val(@Html.Raw(Json.Encode(Model.RefundByGC))).trigger('change.select2');

        $("#idReturnGCAsCash").select2({
            placeholder: "@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Select Account"))",
            allowClear: true
        }).val(@Html.Raw(Json.Encode(Model.ReturnGCAsCash))).trigger('change.select2');

        $("#InvoiceDdl").select2({
            placeholder: "@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Select Status"))",
            allowClear: true
        });

        if ($("input.flat")[0]) {
            $(document).ready(function () {
                $('input.flat').iCheck({
                    checkboxClass: 'icheckbox_flat-green',
                    radioClass: 'iradio_flat-green'
                });
            });
        }
    });
</script>
