@model NuWebNCloud.Shared.Models.Ingredients.DataEntryModels
@using NuWebNCloud.Shared.Utilities;
@{
    Html.EnableUnobtrusiveJavaScript(true);
    var _ID = Model.Id;
}
@Html.HiddenFor(model => model.Id)
@if (!string.IsNullOrEmpty(_ID))
{
    @Html.Hidden("StoreId", Model.StoreId)
}
<div class="row form-horizontal form-label-left" style="margin-bottom:15px;">
    @* Choose Store *@
    <div class="form-group">
        <label class="col-md-2 col-sm-2 col-xs-12 text-left lineHeight">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Choose Store"))</label>
        <div class="col-md-3 col-sm-3 col-xs-12">
            @*@Html.DropDownListFor(model => model.StoreId,
             new SelectList(@ViewBag.ListStore, "Value", "Text", Model.StoreId), "Please choose store",
             !string.IsNullOrEmpty(_ID) ? (object)new
             {
                 @class = "form-control select2_multiple",
                 @disabled = "disabled",
                 @id = "ddlStore",
                 @style = "width:100%;"
             } : new
             {
                 @class = "form-control select2_multiple",
                 @id = "ddlStore",
                 @style = "width:100%;"
             })*@

            @Html.DropDownListFor(model => model.StoreId,
             (SelectList)ViewBag.StoreID,
             !string.IsNullOrEmpty(_ID) ? (object)new
             {
                 @class = "form-control select2_multiple",
                 @disabled = "disabled",
                 @id = "ddlStore",
                 @style = "width:100%;"
             } : new
             {
                 @class = "form-control select2_multiple",
                 @id = "ddlStore",
                 @style = "width:100%;"
             })

            @Html.ValidationMessageFor(model => model.StoreId, null, new { @class = "label label-danger", @id = "StoreIdMsg" })
        </div>
        <!--date-->
        @if (!string.IsNullOrEmpty(_ID))
        {
            <label class="col-md-1 col-sm-1 col-xs-12 text-left lineHeight">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Date Entry"))</label>
            <div class="col-md-3 col-sm-3 col-xs-12 text-left lineHeight">
                @Html.DisplayFor(m => m.EntryDate, "{0:MM/dd/yyyy}")
            </div>
        }
    </div>

    <div class="box-body form-group" style="text-align:center;">
        <table class="tbCustom">
            <thead>
                <tr>
                    <td style="width:20%;">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Ingredient Code"))</td>
                    <td style="width:30%;">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Ingredient Name"))</td>
                    <td style="width:10%;">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Damage"))</td>
                    <td style="width:10%;">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Wastage"))</td>
                    <td style="width:10%;">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Others"))</td>
                    <td style="width:20%;">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Reasons"))</td>
                </tr>
            </thead>
            <tbody id="divListItemNew">
                @if (Model.ListItem != null)
                {
                    @Html.Partial("_ListItemNew", Model)
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $("#ddlStore").change(function () {
        $('#StoreIdMsg').text('');
        //$('#ApplyDateMsg').text('');
        StoreID = this.value;
        $("#divListItemNew").html('');
        if (StoreID != '' && StoreID != null) {
            LoadIngredient();
        }
    });
    $(document).ready(function () {
        //=== Select Store
        $("#ddlStore").select2().val('@Model.StoreId').trigger('change.select2');
    });
    function LoadIngredient() {

        $('#StoreIdMsg').text('');
        $("#divListItemNew").html('');
        //$('#ApplyDateMsg').text('');

        var StoreId = "";
        if ("@_ID" != null && "@_ID" != "") {
            StoreId = $('#StoreId').val(); // For case Edit
        } else {
            StoreId = $('#ddlStore').val();
        }
        //var busId = $('#ddlApplyDate').val();

        if (StoreId == '' || StoreId == null) {
            $('#StoreIdMsg').text('@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Please choose store"))');
            return false;
        }
        $.ajax({
            type: "GET",
            url: '@Url.Action("LoadIngredient", "IngDataEntry")',
            traditional: true,
            data: { storeId: StoreId },
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            beforeSend: function () {
                $('.se-pre-con').show();
            },
            error: function (e) {
            },
            success: function (data) {
                $("#divListItemNew").html(data);
                //==========
                //listItemNew = [];
                //$.each($('.ng-IngredientNew'), function () {
                //    var div = $(this);
                //    var IngredientId = $(div).find('#hidIngredientId').val();
                //    listItemNew.push(IngredientId);
                //});
            },
            complete: function () {
                $('.se-pre-con').hide();
            }
        });
    }

</script>