@using NuWebNCloud.Shared.Utilities;
@model NuWebNCloud.Shared.Models.Sandbox.Import.SandboxImportModel
@{
    ViewBag.Title = @Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Set Menus - Import"));
}

<div role="main" class="right_col">
    <div class="">
        <div class="page-title">
            <div class="title_left" style="padding: 10px 0px;">
                @Html.Partial("~/Views/Shared/_breadcrumb.cshtml",
                new Dictionary<string, string> { { "A", "Sandbox" }, { "B", "Inventory" }, { "C", "Set Menus - Import" } })
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 x_panel">
                    <div class="x_title">
                        @Html.Partial("_TabMenu", "import")
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">
                        <div class="row text-right">
                            <ul class="header-buttons pull-right list-inline">
                                <li><a href="javascript:void(0)" class="btn btn-success" id="btn-actives" onclick="SubmitFormImportOrExport('.create-form')"><i class="fa fa-save"></i>&nbsp;@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Import"))</a></li>
                                <li><a href="@Url.Action("Index", "SBInventorySetMenu")" class="btn btn-danger" id="btn-delete"><i class="fa fa-times"></i>&nbsp;@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Cancel"))</a></li>
                            </ul>
                        </div>
                        <div class="box-body" style="display: block;">
                            @using (@Html.BeginForm("Import", "SBInventorySetMenu", FormMethod.Post, new { @class = "form-horizontal create-form", @enctype = "multipart/form-data" }))
                            {
                                @*Choose Store*@
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12 lineHeight">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Choose Store"))</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @*@Html.DropDownListFor(model => model.ListStores,
                                            new SelectList(@ViewBag.ListStore, "Value", "Text", Model.ListStores), null,
                                            new
                                            {
                                                @class = "form-control select2_multiple",
                                                @id = "storeDdl",
                                                @style = "width:100%;",
                                                @multiple = "multiple"
                                            })*@

                                        @*Group by company, updated 041420180*@
                                        @Html.DropDownListFor(model => model.ListStores, (SelectList)ViewBag.StoreID, new
                                        {
	                                        @class = "form-control select2_multiple",
	                                        @id = "storeDdl",
	                                        @style = "width:100%;",
                                            @multiple = "multiple"
                                        })
                                        @Html.ValidationMessageFor(model => model.ListStores, null, new { @class = "label" })
                                    </div>
                                </div>

                                <!-- FILE EXCEL -->
                                <div class="form-group">
                                    <label for="fileExel" class="col-md-2 control-label lineHeight">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Choose file excel")): </label>
                                    <div class="checkbox col-md-5">
                                        <label>
                                            @Html.TextBoxFor(model => model.ExcelUpload, new { @type = "file", @accept = "*.xlsx" })
                                            @Html.ValidationMessageFor(model => model.ExcelUpload, null, new { @class = "label" })
                                        </label>
                                    </div>
                                </div>

                                <!-- FILE ZIP -->
                                <div class="form-group">
                                    <label for="fileZip" class="col-md-2 control-label lineHeight">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Choose image folder")) (.@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("zip"))): </label>
                                    <div class="checkbox col-md-5">
                                        <label>
                                            @Html.TextBoxFor(model => model.ImageZipUpload, new { @type = "file", @accept = "*.zip", @maxlength = "100000" })
                                            @Html.ValidationMessageFor(model => model.ImageZipUpload, null, new { @class = "label" })
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        @Html.ValidationSummary(true, @Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Error")) + " : ", new { style = "color:red" })
                                    </div>
                                </div>
                            }
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        function disableButton(btn, status) {
            if (status) {
                $(btn).addClass('disabled');
            } else {
                $(btn).removeClass('disabled');
            }
        }
        function SubmitFormImportOrExport(form) {
            disableButton('#btn-actives', true);
            //$(".se-pre-con").show();
            $(form).submit();
            //$.ajax({})
            //    .complete(function () { $(".se-pre-con").hide(); });
        }

        function SubmitForm(form) {
            $(form).submit();
        }
    </script>
    <script>
        $(document).ready(function () {
            $("#storeDdl").select2({
                placeholder: '@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Please choose store"))',
                //allowClear: true
            }).val(@Html.Raw(Json.Encode(Model.ListStores))).trigger('change.select2');
        });
    </script>
}
