@model NuWebNCloud.Shared.Models.Ingredients.SupplierModels
@using NuWebNCloud.Shared.Utilities;
@{
    ViewBag.Title = _AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Suppliers - Import").ToString();
}

<div role="main" class="right_col">
    <div class="">
        <div class="page-title">
            <div class="title_left" style="padding: 10px 0px;">
                @Html.Partial("~/Views/Shared/_breadcrumb.cshtml",
                new Dictionary<string, string> { { "A", "Inventory Management" }, { "B", "Purchasing" }, { "C", "Suppliers - Import" } })
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 x_panel">
                    <div class="x_title">
                        @Html.Partial("_TabMenu", "import")
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">
                        <div class="row text-right">
                            <ul class="header-buttons pull-right list-inline">
                                <li><a href="javascript:void(0)" class="btn btn-success" id="btn-actives" onclick="SubmitForm('.create-form')"><i class="fa fa-save"></i>&nbsp;@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Import"))</a></li>
                                <li><a href="@Url.Action("Index", "IngSuppliers")" class="btn btn-danger" id="btn-delete"><i class="fa fa-times"></i>&nbsp;@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Cancel"))</a></li>
                            </ul>
                        </div>
                        <div class="box-body" style="display: block;">
                            @using (@Html.BeginForm("Import", "IngSuppliers", FormMethod.Post, new { @class = "form-horizontal create-form", @enctype = "multipart/form-data" }))
                            {
                                @*Choose Company*@
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12 lineHeight">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Choose Company"))</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                       @Html.DropDownListFor(model => model.ListCompanys,
                                            new SelectList(@ViewBag.ListCompany, "Value", "Text", Model.ListCompanys), "---- Please choose Company ----",
                                            new
                                            {
                                                @class = "form-control select2_multiple",
                                                @id = "CompanyDdll",
                                                @style = "width:100%;",
                                                @multiple = "multiple"
                                            })
                                        @Html.ValidationMessageFor(model => model.ListCompanys, null, new { @class = "label" })
                                    </div>
                                </div>

                                <!-- FILE EXCEL -->
                                <div class="form-group">
                                    <label for="fileExel" class="col-md-2 control-label lineHeight">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Choose file excel")): </label>
                                    <div class="checkbox col-md-5">
                                        <label>
                                            @Html.TextBoxFor(model => model.ExcelUpload, new { @type = "file", @accept = "*.xlsx" })
                                            @Html.ValidationMessageFor(model => model.ExcelUpload, null, new { @class = "label" })
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        @Html.ValidationSummary(true, Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Error"))+ " : ", new { style = "color:red" })
                                    </div>
                                </div>
                            }
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        function SubmitForm(form) {
            $(form).submit();
        }

        $(document).ready(function () {
            $("#CompanyDdll").select2({
                placeholder: '@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Please choose company."))',
                allowClear: true
            });
        });
    </script>
}
