@model NuWebNCloud.Shared.Models.Ingredients.SupplierViewModels
@using NuWebNCloud.Shared.Utilities;
@{
    ViewBag.Title = _AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Suppliers").ToString();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div role="main" class="right_col">
    <div class="se-pre-con" style="display: none;"></div>
    <div class="">
        <div class="page-title">
            <div class="title_left" style="padding: 10px 0px;">
                @Html.Partial("~/Views/Shared/_breadcrumb.cshtml",
                        new Dictionary<string, string> { { "A", "Inventory Management" }, { "B", "Purchasing" }, { "C", "Suppliers - List data" } })
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_title">
                    @Html.Partial("_TabMenu", "view")
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    @using (Html.BeginForm("Search", "IngSuppliers", FormMethod.Post, new { @class = "form-horizontal search-form" }))
                    {
                        <div class="row text-right">
                            <ul class="header-buttons pull-right list-inline">
                                <li><a href="javascript:void(0)" class="btn btn-success" id="btn-active" onclick="EnableActive(true)"><i class="fa fa-check-square"></i>&nbsp;@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Active"))</a></li>
                                <li><a href="javascript:void(0)" class="btn btn-danger" id="btn-inactive" onclick="EnableActive(false)"><i class="fa fa-square"></i>&nbsp;@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("InActive"))</a></li>
                            </ul>
                        </div>
                        <div class="row" style="margin-bottom:15px;">
                            <div class="form-group">
                                <div class="control-label col-md-2 col-sm-2 col-xs-12 lineHeight">
                                    @Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Choose Company"))
                                </div>
                                <div class="col-md-7 col-sm-7 col-xs-12">
                                    @Html.DropDownListFor(model => model.CompanyId,
                                    new SelectList(@ViewBag.ListCompany, "Value", "Text", Model.CompanyId), "Please choose Company",
                                    new
                                    {
                                        @class = "form-control select2_multiple",
                                        @id = "CompanyDdll",
                                        @style = "width:100%;"
                                    })
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Load Data"))</button>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="gridview">
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="row">
        </div>
    </div>
    <div class="detail-view" style="height:100%;">
    </div>
</div>

@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            $("#CompanyDdll").select2({
                placeholder: '@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Please choose company."))',
                allowClear: true
            });
            Search();
            disableButton(false);
        });

        $(".search-form").submit(function (e) {
            Search();
            return false;
        });

        var lstIdSelected = [];
        function toggleCheckedAll() {
            var isCheckAll = $('#check-all').prop("checked");
            var listChk = $('.chkChild');
            lstIdSelected = [];
            for (var i = 0; i < listChk.length; i++) {
                var item = $(listChk[i]).attr('id');
                if (isCheckAll === true) {
                    $(listChk[i]).prop('checked', true);
                    lstIdSelected.push(item);
                    disableButton(true);
                } else {
                    $(listChk[i]).prop('checked', false);
                    disableButton(false);
                }
            }
        }

        function toggleChecked() {
            var _count = 0;
            var listChk = $('.chkChild');
            lstIdSelected = [];
            for (var i = 0; i < listChk.length; i++) {
                var item = $(listChk[i]).attr('id');
                if ($(listChk[i]).prop('checked') === true) {
                    lstIdSelected.push(item);
                    _count++;
                }
                if (listChk.length !== _count) {
                    $('#check-all').prop("checked", false);
                }
                else {
                    $('#check-all').prop("checked", true);
                }
                if (_count === 0) {
                    disableButton(false);
                } else {
                    disableButton(true);
                }
            }
        }

        function disableButton(status) {
            if (!status) {
                $('#btn-active').addClass('disabled');
                $('#btn-inactive').addClass('disabled');
            } else {
                $('#btn-active').removeClass('disabled');
                $('#btn-inactive').removeClass('disabled');
            }
        }

        /*Call Function IsActive/Active*/
        function EnableActive(isActive) {
            if (typeof lstIdSelected == 'undefined' || lstIdSelected.length == 0) {
                alert("Please choose least one ingredient!");
                return;
            }
            $(".se-pre-con").show();
            $.ajax({
                url: '@Url.Action("EnableActive", "IngSuppliers")',
                type: 'POST',
                dataType: 'html',
                cache: false,
                data: { lstId: lstIdSelected, active: isActive },
                success: function () {
                    $(".se-pre-con").hide();
                    Search();
                    disableButton(false);
                },
                error: function () { }
            });
        };
    </script>
}