@model NuWebNCloud.Shared.Models.Ingredients.IngredientModel
@using NuWebNCloud.Shared.Utilities;
@{
    ViewBag.Title = Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Ingredients")) + " - " + Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Add New"));
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div role="main" class="right_col">
    @*<div class="se-pre-con" style="display: none;"></div>*@
    <div class="">
        <div class="page-title">
            <div class="title_left" style="padding:10px 0px;">
                @Html.Partial("~/Views/Shared/_breadcrumb.cshtml",
                    new Dictionary<string, string> { { "A", Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Inventory Management")).ToString() }, { "B", Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Recipe")).ToString() /*"Recipe"*/ }, { "C", Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Ingredients"))+" - "+ Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Add New")) } })
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 x_panel">
                    <div class="x_title">
                        @Html.Partial("_TabMenu", "create")
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row text-right">
                            <ul class="header-buttons pull-right list-inline">
                                <li><a href="javascript:void(0)" class="btn btn-success" id="btn-actives" onclick="SubmitForm('.create-form')"><i class="fa fa-save"></i>&nbsp; @Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Save")) @*Save*@</a></li>
                                <li><a href="@Url.Action("Index","IngIngredients",new { area = "" })" class="btn btn-danger" id="btn-delete"><i class="fa fa-times"></i>&nbsp; @Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Cancel")) @*Cancel*@</a></li>
                            </ul>
                        </div>
                        <div class="box-body" style="display: block;">
                            @using (@Html.BeginForm("Create", "IngIngredients", FormMethod.Post, new { @class = "form-horizontal create-form", @enctype = "multipart/form-data" }))
                            {
                                @Html.Partial("_Form", Model)
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script type="text/javascript">

        $("#companyDdl").change(function () {
            var CompanyId = this.value;
            $.ajax({
                type: "GET",
                url: '@Url.Action("LoadSupplier", "IngIngredients")',
                traditional: true,
                data: { CompanyId: CompanyId },
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                beforeSend: function () {
                    $('.se-pre-con').show();
                },
                error: function (e) {
                },
                success: function (data) {
                    $('.se-pre-con').hide();
                    $('#tab_SelectedSupplier').html(data);

                    var heightDivSupplier = $('.cls_Supplier_Ingredient').length;
                    if (heightDivSupplier > 10) {
                        $("#tab_SelectedSupplier").css({ "overflow": "auto", "height": "500px" })
                    }
                },
                complete: function () {
                    $('.se-pre-con').hide();
                }
            });
        });

        var baseUOM = "";
        function SubmitForm(form) {
            var isSubmit = true;
            $.each($('.IngUsageUOM:visible'), function () {
                var div = $(this);
                var OffSet = $(div).find('#hidOffSet').val();
                var ReceivingQty = $(div).find('#txtReceivingQty').val();
                var IngUOM = $(div).find('#ddlIngUOM').val();
                if (IngUOM == '') {
                    $('#ltrValidate_' + OffSet).html('@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Please choose UOM"))');
                    isSubmit = false;
                } else {
                    if (ReceivingQty <= 0) {
                        $('#ltrValidate_' + OffSet).html('@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Receiving Quantity is required"))');
                        isSubmit = false;
                    } else {
                        $('#ltrValidate_' + OffSet).html('');
                    }
                }
            });
            if (isSubmit) {
                $(form).submit();
            }
        }

        $(document).ready(function () {
            $("#companyDdl").select2({
                //placeholder: "Please choose company",
                placeholder: "@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Please choose company."))",
                allowClear: true
            });
        });

        $(".selectUOM").select2({
            //"please choose UOM"
            placeholder: "@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Please choose UOM"))",
            allowClear: true
        });

        $("#BaseUOMddl").change(function () {
            baseUOM = $(this).find('option:selected').text();
            //console.log(baseUOM);
            $('#ltrReceivingUOM').html(baseUOM);
            $('.IngUsageUOM:visible').each(function (index, value) {
                var div = $(this);
                $(div).find('span#ltrUsageUOM').html(baseUOM);
            });
        });

        function GetIndexBaseUOM() {
            $('.IngUsageUOM:visible').each(function (index, value) {
                var div = $(this);
                $(div).find('span#ltrIndex').html(index + 1);
                $(div).find('span#ltrUsageUOM').html(baseUOM);
            });
        }
    </script>
}
