@model NuWebNCloud.Shared.Models.Ingredients.IngredientImportResultModels
@using NuWebNCloud.Shared.Utilities;
<div class="right_col" role="main">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h3 class="breadcrumb">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Import Ingredient Detail"))</h3>
        <ul class="header-buttons pull-right list-inline">
            <li><a id="btn-close-importdetail" class="btn btn-beauty btn-default" href="@Url.Action("Import", "IngIngredients")">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Close")) </a></li>
        </ul>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="">
                    <!--Box Header-->
                    <div class="box-header">
                        <h3 class="box-title">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("All Rows From Excel File")) </h3>
                    </div>
                    <!--Box Body-->
                    <div class="box-body" style="display: block;">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("No")).ToString().</th>
                                    <th>@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Name")).ToString()</th>
                                    <th>@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Affected")).ToString()</th>
                                    <th>@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Failed")).ToString()</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.ListImport.Count; i++)
                                {
                                    <tr>
                                        <td>@string.Format("#{0}", i + 1)</td>
                                        <td>@Model.ListImport[i].Name</td>
                                        <td>
                                            <a data-toggle="tooltip" data-placement="top" title="@string.Format("{0}", string.Join(" - ", Model.ListImport[i].ListSuccessCompanyName))"> @Model.ListImport[i].ListSuccessCompanyName.Count @Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("store(s)"))</a>
                                        </td>
                                        <td>
                                            <a style="color:red" data-toggle="tooltip" data-placement="top" title="@string.Format("{0}", string.Join(" - ", Model.ListImport[i].ListFailCompanyName))"> @Model.ListImport[i].ListFailCompanyName.Count @Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("store(s)"))</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="overlay" style="display: none;">
                        <i class="fa fa-refresh fa-spin"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="">
                    <!--Box Header-->
                    <div class="box-header">
                        <h3 class="box-title">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Error Detail"))</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i> </button>
                        </div>
                    </div>

                    <!--Box Body-->
                    <div class="box-body" style="display: block;">
                        <table class="table">
                            <tbody>
                                @foreach (var item in Model.ListImport)
                                {
                                    foreach (var err in item.ErrorItems)
                                    {
                                        <tr>
                                            <td>@Html.Raw(err.ErrorMessage)</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<style>
    .box-error {
        max-height: 500px;
        overflow-y: scroll;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $(".box-error").addClass('collapsed-box');
        $(".box-error .box-body").css('display', 'none');
        $(".box-error i").removeClass('fa fa-minus');
        $(".box-error i").addClass('fa fa-plus');
    });

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>