@model NuWebNCloud.Shared.Models.Ingredients.UnitOfMeasureModel
@using NuWebNCloud.Shared.Utilities;
@{
    ViewBag.Title = Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("UOM Management - Export")) ;
}

<div role="main" class="right_col">
    <div class="">
        <div class="page-title">
            <div class="title_left" style="padding: 10px 0px;">
                @Html.Partial("~/Views/Shared/_breadcrumb.cshtml",
                new Dictionary<string, string> { { "A", "Inventory Management" }, { "B", "Master Data" }, { "C", "UOM Management - Export" } })
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 x_panel">
                    <div class="x_title">
                        @Html.Partial("_TabMenu", "export")
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">                        
                        <div class="row text-right">
                            <ul class="header-buttons pull-right list-inline">
                                <li><a href="javascript:void(0)" class="btn btn-success" id="btn-actives" onclick="SubmitForm('.create-form')"><i class="fa fa-save"></i>&nbsp;@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Export")) </a></li>
                                <li><a href="@Url.Action("Index", "IngUOMs")" class="btn btn-danger" id="btn-delete"><i class="fa fa-times"></i>&nbsp;@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Cancel"))</a></li>
                            </ul>
                        </div>
                        <div class="box-body" style="display: block;">
                            @using (@Html.BeginForm("Export", "IngUOMs", FormMethod.Post, new { @class = "form-horizontal create-form", @enctype = "multipart/form-data" }))
                            {
                                @*Choose Store
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12 lineHeight">Choose Store</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.DropDownListFor(model => model.ListStores,
                                            new SelectList(@ViewBag.ListStore, "Value", "Text", Model.ListStores), null,
                                            new
                                            {
                                                @class = "form-control select2_multiple",
                                                @id = "storeDdl",
                                                @style = "width:100%;",
                                                @multiple = "multiple"
                                            })
                                        @Html.ValidationMessageFor(model => model.ListStores, null, new { @class = "label" })
                                    </div>
                                </div>*@

                                <div class="form-group">
                                    <div class="col-md-12">
                                        @Html.ValidationSummary(true, Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Error")) +" : ", new { style = "color:red" })
                                    </div>
                                </div>
                            }
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        function SubmitForm(form) {
            $(form).submit();
        }

        $(document).ready(function () {
            $("#storeDdl").select2({
                placeholder: "@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Please choose store"))",
                allowClear: true
            });
        });
    </script>
}
