@model NuWebNCloud.Shared.Integration.Models.Sandbox.InteEmployeeModels
@using NuWebNCloud.Shared.Utilities;
<div role="main" class="right_col">
    <div class="">
        <div class="page-title">
            <div class="title_left" style="padding: 10px 0px;">
                @Html.Partial("~/Views/Shared/_breadcrumb.cshtml",
                new Dictionary<string, string> { { "A", "Sandbox" }, { "B", "Employees" }, { "C", "View Detail" } })
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 x_panel">
                    <div class="x_content">
                        <div class="row text-right">
                            <ul class="header-buttons pull-right list-inline">
                                <li><a href="#" onclick="CloseDetail(); return false;" class="btn btn-danger" id="btn-delete"><i class="fa fa-times"></i>&nbsp;@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Close"))</a></li>
                            </ul>
                        </div>
                        <div class="row form-horizontal form-label-left">
                            <div class="row form-horizontal form-label-left" style="margin-bottom:15px;">
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12"> </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <img id="upload-preview" src="@Model.ImageURL" height="100" width="100" class="img-circle" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Store Name"))</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Model.StoreName
                                    </div>
                                </div>
                                @if (Model.IsWithPoins == true)
                                {
                                    <div class="form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Push To LinkApp")) </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            @Model.IsSyncPoins
                                        </div>
                                    </div>
                                }
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Name"))</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Model.Name
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Phone"))</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Model.Phone
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Email"))</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Model.Email
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Pin Code"))</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @*@Model.Pincode*@
                                        ***
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Role"))</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Model.RoleName
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Gender"))</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @string.Format("{0}", Model.Gender ? @Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Male")) : @Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Female")))
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Marital Status"))</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @string.Format("{0}", Model.Marital ? @Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Married")) : @Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Single")))
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Active"))</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @string.Format("{0}", Model.IsActive ? @Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Active")) : @Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("InActive")))
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Joined Date"))</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Model.HiredDate.ToString("dd/MM/yyyy")
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Birthday"))</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Model.BirthDate.ToString("dd/MM/yyyy")
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Home Address"))</label>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Street"))</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Model.Street
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("City"))</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Model.City
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Zip Code"))</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Model.Zipcode
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Country"))</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Model.Country
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Working Time"))</label>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <table class="table table-striped table-hover">
                                            <thead>
                                                <tr class="headings" role="row" style="color:white;background-color:#18344e">
                                                    <th>@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Week Day"))</th>
                                                    <th>@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("From"))</th>
                                                    <th>@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("To"))</th>
                                                </tr>
                                            </thead>
                                            @if (Model.ListRoleWorkingTime != null && Model.ListRoleWorkingTime.Count > 0)
                                            {
                                                if (Model.ListRoleWorkingTime[0].ListWorkingTime != null && Model.ListRoleWorkingTime[0].ListWorkingTime.Count > 0)
                                                {
                                                    <tbody>
                                                        @for (int i = 0; i < Model.ListRoleWorkingTime[0].ListWorkingTime.Count; i++)
                                                        {
                                                            var item = Model.ListRoleWorkingTime[0].ListWorkingTime[i];
                                                            <tr>
                                                                <td>@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey(item.StrDate))</td>
                                                                <td>@item.From</td>
                                                                <td>@item.To</td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                }
                                            }
                                        </table>
                                        @*@for (int i = 0; i < Model.ListWorkingTime.Count; i++)
                                            {
                                            <div class="form-group margin_left_50px">
                                                <label class="col-xs-offset-2 control-label col-md-1 col-sm-1 col-xs-2 text-right">@Model.ListWorkingTime[i].StrDate</label>
                                                <div class="col-sm-4">
                                                    <div class="row">
                                                        <div class="col-sm-2">
                                                            @Model.ListWorkingTime[i].From
                                                        </div>
                                                        <div class="col-sm-2" style="text-align:center">
                                                            <label class="control-label">--</label>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            @Model.ListWorkingTime[i].To
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            }*@
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
