@using NuWebNCloud.Shared.Utilities;
@using NuWebNCloud.Shared
@model NuWebNCloud.Shared.Models.Ingredients.ReceiptNoteSelfMadeViewModels
@{
    int i = 0;
}
<div class="table-responsive">
    <div class="x_panel">
        <div class="x_title">
            <h2>@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Received Note Self Made"))</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap table table-striped jambo_table bulk_action" cellspacing="0" style="width:100%;">
                <thead style="background-color:#34495e; color:#fff;">
                    <tr>
                        <th style="text-align:center;">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Received No"))</th>
                        <th style="text-align:center;">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Status"))</th>
                        <th style="text-align:center;">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Received Date"))</th>
                        <th style="text-align:center;">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Received by"))</th>
                        <th class="text-center">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Action"))</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListItem)
                    {
                        string styleRow = "row-evenItem";
                        if (i % 2 == 0)
                        {
                            styleRow = "row-oddItem";
                        }
                        <tr class="@styleRow">
                            <td style="color:#34495e; font-weight:bold;">
                                @item.ReceiptNo
                            </td>
                            <td style="text-align:center;">
                                @if (item.Status == (int)Commons.EReceiptNoteStatus.Closed)
                                {
                                    <span class="label label-danger">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey(Commons.EReceiptNoteStatus.Closed.ToString()))</span>
                                }
                                else if (item.Status == (int)Commons.EReceiptNoteStatus.Return)
                                {
                                    <span class="label label-info">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey(Commons.EReceiptNoteStatus.Return.ToString()))</span>
                                }
                            </td>
                            <td style="text-align:center;">@item.ReceiptDate.ToString("MM/dd/yyyy")</td>
                            <td style="text-align:center;">@item.ReceiptBy</td>
                            <td style="text-align:center;">
                                <a href="javascript:void(0)" class="btn btn-primary btn-xs view details" id="btn_View" onclick="LoadDetail('@item.Id','@item.ReceiptNo');"><i class="fa fa-eye"></i>
                                @Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("View"))</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--For popup-->
<div class="modal fade" id="modelDetail" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body scroll" style="padding:0;">
                <div id="tbl-listDetail" style="padding:15px;">
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('.dropdown-toggle').on('click', function (e) {
            if ($(this).hasClass('dropdown-menu-form')) {
                e.stopPropagation();
                $('.dropdown-toggle').dropdown();
            }
        });
    });

    $(document).ready(function () {
        $('.dropdown-toggle').dropdown();

        var handleDataTableButtons = function () {
            if ($("#datatable-buttons").length) {
                $("#datatable-buttons").DataTable({

                    dom: "Bfrtip",
                    responsive: true
                });
            }
        };

        TableManageButtons = function () {
            "use strict";
            return {
                init: function () {
                    handleDataTableButtons();
                }
            };
        }();

        $('#datatable').dataTable();
        $('#datatable-keytable').DataTable({
            keys: true
        });

        $('#datatable-responsive').DataTable({
            "columnDefs": [
                { "type": "string-string-num", targets: 0 },
                { "orderable": false, "targets": [4] },
                { "width": "8%", "targets": [1, 2, 3, 4] },
            ],
            "order": [
                    [2, 'desc'],
                    [0, 'desc']
            ]
        });

        var table = $('#datatable-fixed-header').DataTable({
            fixedHeader: true
        });

        TableManageButtons.init();
    });

    function LoadDetail(id, rn) {
        $.ajax({
            url: '@Url.Action("LoadDetail", "IngReceiptNoteSelfMade")',
            type: 'POST',
            data: { ReceiptNoteSelfMadeId: id },
            dataType: 'html',
            traditional: true,
            beforeSend: function () {
                $('.se-pre-con').show();
            },
            error: function (e) {
                $('.se-pre-con').hide();
            },
            success: function (data) {
                $("#modelDetail").modal({
                    keyboard: false,
                    show: true,
                });
                $('#ltrReceiptNote').html("#" + rn);
                $('#tbl-listDetail').html(data);
            },
            complete: function () {
                $('.se-pre-con').hide();
            }
        });
    };
</script>
