@model NuWebNCloud.Shared.Models.Sandbox.Inventory.Product.ProductViewModels
@using NuWebNCloud.Shared.Utilities;
<div class="table-responsive">
    <div class="x_panel">
        <div class="x_title">
            <h2>@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Modifiers"))</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap table table-striped jambo_table bulk_action" cellspacing="0" style="width:100%;">
                <thead style="background-color:#34495e; color:#fff;">
                    <tr>
                        <th style="text-align:center;">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Name"))</th>
                        <th style="text-align:center;">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Category"))</th>
                        <th style="text-align:center;">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Price"))</th>
                        <th style="text-align:center;">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Store"))</th>
                        <th style="text-align:center;">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Image"))</th>
                        <th style="text-align:center;">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Status"))</th>
                        <th style="text-align:center;">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Action"))</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.ListItem != null)
                    {
                        for (int i = 0; i < Model.ListItem.Count; i++)
                        {
                            string styleRow = "row-evenItem";
                            if (i % 2 == 0)
                            {
                                styleRow = "row-oddItem";
                            }
                            var item = Model.ListItem[i];
                            <tr class="@styleRow">
                                <td style="color:#34495e; font-weight:bold;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@item.Name</td>
                                <td style="color:#34495e; font-weight:bold; text-align:center;">@item.CategoryName</td>
                                <td style="text-align:center;">
                                    @string.Format("{0}{1:0.00}", "S$", item.Price)
                                </td>
                                <td style="text-align:center;">@item.StoreName</td>
                                <td style="text-align:center;">
                                    <img src="@item.ImageURL" height="30" width="30" class="img-circle" />
                                </td>
                                <td style="text-align:center;">
                                    @if (item.IsActive)
                                    {
                                        <span class="label label-success">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Active"))</span>
                                    }
                                    else
                                    {
                                        <span class="label label-danger">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("InActive"))</span>
                                    }
                                </td>
                                <td style="text-align:center;">
                                    <a href="javascript:void(0)"
                                       onclick="ShowView('@Url.Action("View", "SBInventoryModifier", new { id = @item.ID })')"
                                       class="btn btn-primary btn-xs view details"><i class="fa fa-eye"></i>&nbsp;@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("View"))</a>&nbsp;&nbsp;
                                    <a href="javascript:void(0)"
                                       onclick="ShowView('@Url.Action("Edit", "SBInventoryModifier", new { id = @item.ID })')"
                                       class="btn btn-info btn-xs edit details"><i class="fa fa-edit"></i>&nbsp;@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Edit"))</a>&nbsp;&nbsp;
                                    <a href="javascript:void(0)"
                                       onclick="ShowView('@Url.Action("Delete", "SBInventoryModifier", new { id = @item.ID })')"
                                       class="btn btn-danger btn-xs delete details"><i class="fa fa-trash-o"></i>&nbsp;@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Delete"))</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    function ShowView(url) {
        ShowViewOrEdit(url);
        return false;
    }
</script>

<script>
    $(document).ready(function () {
        var handleDataTableButtons = function () {
            if ($("#datatable-buttons").length) {
                $("#datatable-buttons").DataTable({

                    dom: "Bfrtip",
                    responsive: true
                });
            }
        };

        TableManageButtons = function () {
            "use strict";
            return {
                init: function () {
                    handleDataTableButtons();
                }
            };
        }();

        $('#datatable').dataTable();
        $('#datatable-keytable').DataTable({
            keys: true
        });

        $('#datatable-responsive').DataTable({
            "columnDefs": [
                { "orderable": false, "targets": [4,6] },
                { "width": "10%", "targets": 1 },
                { "width": "5%", "targets": 2 },
                { "width": "8%", "targets": 3 },
                { "width": "5%", "targets": 4 },
                { "width": "5%", "targets": 5 },
                { "width": "10%", "targets": 6 }
            ],
            "order": [
                    [3, 'asc'],
                    [1, 'asc'],
                   
            ],
            "displayLength": 25,
            "drawCallback": function ( settings ) {
                var api = this.api();
                var rows = api.rows( {page:'current'} ).nodes();
                //var last=null;
                ////Column Group
                //api.column(1, {page:'current'} ).data().each( function (group, i) {
                //    if ( last !== group ) {
                //        $(rows).eq(i).before(
                //            '<tr class="group"><td colspan="7"><strong style="color:#d9534f;">'+(group === '' ? '|' :  group)+'</strong></td></tr>'
                //        );
                //        last = group;
                //    }
                //});

                var columns = [3, 1];
                for (i = 0; i < columns.length; i++) {
                    var last = null;
                    var colNo = columns[i];
                    api.column(colNo, { page: 'current' }).data().each(function (group, index) {
                        if (last !== group) {
                            if (i == 0) {
                                $(rows).eq(index).before(
                                    '<tr class="group"><td colspan="7"><strong style="color:#d9534f;">' + (group === '' ? '|' : group) + '</strong></td></tr>'
                                );
                            } else {
                                $(rows).eq(index).before(
                                        '<tr class="group row-group-category"><td colspan="7"><strong>&nbsp;&nbsp;' + (group === '' ? '|' : group) + '</strong></td></tr>'
                                    );
                            }
                            last = group;
                        }
                    });
                }
            }
        });

        var table = $('#datatable-fixed-header').DataTable({
            fixedHeader: true
        });

        TableManageButtons.init();
    });
</script>
<!-- /Datatables -->
