@model NuWebNCloud.Shared.Models.Sandbox.Inventory.Product.ProductModels
@using NuWebNCloud.Shared.Utilities;
<div role="main" class="right_col">
    <div class="">
        <div class="page-title">
            <div class="title_left" style="padding: 10px 0px;">
                @Html.Partial("~/Views/Shared/_breadcrumb.cshtml",
     new Dictionary<string, string> { { "A", "Sandbox" }, { "B", "Inventory" }, { "C", "Modifiers - View Detail" } })
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 x_panel">
                    <div class="x_content">
                        <div class="row text-right">
                            <ul class="header-buttons pull-right list-inline">
                                <li><a href="javascript:void(0)" onclick="CloseDetail(); return false;" class="btn btn-danger" id="btn-delete"><i class="fa fa-times"></i>&nbsp;@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Close"))</a></li>
                            </ul>
                        </div>
                        <div class="row form-horizontal form-label-left">
                            <div class="row form-horizontal form-label-left" style="margin-bottom:15px;">
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12"> </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <img id="upload-preview" src="@Model.ImageURL" height="100" width="100" class="img-circle" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Sequence")): </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Model.OrderByIndex
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Store Name")): </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Model.StoreName
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Default Name")): </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Model.Name
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Code")): </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Model.ProductCode
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Check Stock")): </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @string.Format("{0}", Model.IsCheckedStock ? _AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Yes") : _AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("No"))
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Active")): </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @string.Format("{0}", Model.IsActive ? _AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Yes") : _AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("No"))
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Category")): </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Model.CategoryName
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Show Kitchen Display Name")): </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.Raw(Model.IsShowMessage ? _AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Yes") : _AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("No"))
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Kitchen Display Name")): </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Model.Description
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Show Print out Name")): </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.Raw(Model.IsShowMessage ? _AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Yes") : _AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("No"))
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Print out Name")): </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Model.PrintOutText
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Prices")): </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <table class="table table-bordered table-striped">
                                            <thead style="background-color:#73879c; color:#fff;">
                                                <tr>
                                                    <th>@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("#"))</th>
                                                    <th>@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Price"))</th>
                                                    <th>@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Season"))</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    for (int i = 0; i < 2; i++)
                                                    {
                                                        <tr>
                                                            <td>@Model.ListPrices[i].PriceName</td>
                                                            <td>@string.Format("{0}{1:0.00}", "S$", Model.ListPrices[i].Price)</td>
                                                            <td>@Model.ListPrices[i].PriceTag</td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                               
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Quantity")): </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Model.Quantity
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Limit")): </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Model.Limit
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Open Price")): </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.Raw(Model.IsAllowedOpenPrice ? _AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Yes") : _AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("No"))
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Print On Check")): </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.Raw(Model.IsPrintedOnCheck ? _AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Yes") : _AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("No"))
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Allow to Apply Discount/Promotion")): </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.Raw(Model.IsAllowedDiscount ? @Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Yes")) : @Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("No")))
                                    </div>
                                </div>

                                @*<div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Service Charge: </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.Raw(Model.HasServiceCharge ? ("" + Model.ServiceCharge + "%") : "No")
                                    </div>
                                </div>*@

                                @*Info*@
                                @*<div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Created Date: </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Model.CreatedDate.ToString("MM/dd/yyyy")
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Created User: </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Model.CreatedUser
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Last Modified: </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Model.LastModified.ToString("MM/dd/yyyy")
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Modified User: </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Model.ModifiedUser
                                    </div>
                                </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>