@using NuWebNCloud.Shared.Utilities;
@model NuWebNCloud.Shared.Models.Settings.Zone.ZoneModels
<div role="main" class="right_col">
    <div class="">
        <div class="page-title">
            <div class="title_left" style="padding: 10px 0px;">
                @Html.Partial("~/Views/Shared/_breadcrumb.cshtml",
                new Dictionary<string, string> { { "A","Settings" }, { "B", "Zones" }, { "C", "View Detail"}
                })
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 x_panel">
                    <div class="x_content">
                        <div class="row text-right">
                            <ul class="header-buttons pull-right list-inline">
                                <li><a href="javascript:void(0)" onclick="CloseDetail(); return false;" class="btn btn-danger" id="btn-delete"><i class="fa fa-times"></i>&nbsp;@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Close"))</a></li>
                            </ul>
                        </div>
                        <div class="row form-horizontal form-label-left">
                            <div class="row form-horizontal form-label-left" style="margin-bottom:15px;">                               

                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Store"))</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Model.StoreName
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Zone Name"))</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Model.Name
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Number of rows"))</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Model.Height
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Number of columns"))</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Model.Width
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2 col-xs-12">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Description"))</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Model.Description
                                    </div>
                                </div>                               
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>