@using NuWebNCloud.Shared.Utilities;
@model NuWebNCloud.Shared.Models.Sandbox.EmployeeModels
@{
    ViewBag.Title = "User - Change Password";
}
<div role="main" class="right_col">
    <div class="">
        <div class="page-title">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 x_panel">
                    <div class="x_content">
                        <div class="row text-right">
                            <ul class="header-buttons pull-right list-inline">
                                <li><a href="javascript:void(0);" class="btn btn-success" id="btn-actives" onclick="SubmitForm('.changepassword-form')">
                                    <i class="fa fa-save"></i>&nbsp;@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Save"))</a></li>
                                <li><a href="@Url.Action("Index", "Home")" class="btn btn-danger" id="btn-delete"><i class="fa fa-times"></i>&nbsp;
                                    @Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Cancel"))</a></li>
                            </ul>
                        </div>
                        <div class="box-body" style="display: block;">
                            @using (@Html.BeginForm("ChangePassword", "Profile", FormMethod.Post, new { @id = "form-changepassword", @class = "form-horizontal changepassword-form" }))
                            {
                                @Html.HiddenFor(model => model.ID)
                                @Html.HiddenFor(model => model.StoreID)
                                @Html.HiddenFor(model => model.Name)
                                @Html.HiddenFor(model => model.Email)
                                @Html.HiddenFor(model => model.Pincode)
                                <div class="row form-horizontal form-label-left">
                                    <div class="row form-horizontal form-label-left" style="margin-bottom:15px;">
                                        @*<div class="form-group">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12">Store Name</label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <label>@Model.StoreName</label>
                                            </div>
                                        </div>*@

                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12">Email</label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <label>@Model.Email</label>
                                            </div>
                                        </div>



                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Current Password"))</label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                @Html.PasswordFor(model => model.OldPassword, new { @class = "form-control", autocomplete = "off", value = Model.OldPassword })
                                                @Html.ValidationMessageFor(model => model.OldPassword, null, new { @class = "label" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("New Password"))</label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control", autocomplete = "off", value = Model.NewPassword })
                                                @Html.ValidationMessageFor(model => model.NewPassword, null, new { @class = "label" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-2 col-sm-2 col-xs-12">@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Confirm New Password"))</label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", autocomplete = "off", value = Model.ConfirmPassword })
                                                @Html.ValidationMessageFor(model => model.ConfirmPassword, null, new { @class = "label" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function SubmitForm(form) {
        $(form).submit();
    }

    //$("#form-changepassword").submit(function (e) {
    //    $('.se-pre-con').show();
    //    $.ajax({
    //        url: $(this).attr('action'),
    //        type: "post",
    //        data: new FormData(this),
    //        processData: false,
    //        contentType: false,
    //        success: function () {
    //            $('.se-pre-con').hide();
    //            CloseDetail();
    //            Search();
    //        },
    //        error: function (jqXHR, textStatus, errorThrown) {
    //            $('.se-pre-con').hide();
    //            $(".detail-view").html(jqXHR.responseText);
    //        }
    //    });
    //    e.preventDefault();
    //});

</script>