@using NuWebNCloud.Shared.Utilities;
<h4>@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey(@Model["A"])) <small> <i class="fa fa-angle-double-right"></i><span style="font-size:16px;"> @Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey(@Model["B"]))</span> <i class="fa fa-angle-double-right"></i> @Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey(@Model["C"])) </small></h4>
