@using NuWebNCloud.Shared.Utilities;
<ul class="list-inline small-tab-list-buttons">
    <li>
        <a href="@Url.Action("Index", "IngStockManagement")" id="lnkViewData" class="btn btn-default btn-block menuTab @(Model == "view" ? new HtmlString("active") :
           new HtmlString(""))"><i class="fa fa-bars"></i>&nbsp;&nbsp;@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("View Data")) </a>
    </li>
    <li>
        <a href="@Url.Action("Export", "IngStockManagement")" id="lnkImport" class="btn btn-default btn-block menuTab @(Model == "export" ? new HtmlString("active") : new HtmlString(""))"><i class="fa fa-mail-forward"></i> @Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Export"))</a>
    </li>
</ul>