@using NuWebNCloud.Shared.Utilities;
@model NuWebNCloud.Shared.Models.Settings.GeneralSettingModels
@{
    ViewBag.Title = _AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("General Settings") + "-" + _AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Edit");
}
<div role="main" class="right_col">
    <div class="">
        <div class="page-title">
            <div class="title_left" style="padding: 10px 0px;">
                @Html.Partial("~/Views/Shared/_breadcrumb.cshtml",
                new Dictionary<string, string> { { "A", "Settings" }, { "B", "General Settings"}, { "C", "Edit" } 
                })
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 x_panel">
                    <div class="x_content">
                        <div class="row text-right">
                            <ul class="header-buttons pull-right list-inline">
                                <li><a href="javascript:void(0)" class="btn btn-success" id="btn-edit-save" onclick="SubmitForm('#form-edit')"><i class="fa fa-save"></i>&nbsp;@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Save"))</a></li>
                                <li><a href="javascript:void(0)" class="btn btn-danger" id="btn-delete" onclick="CloseDetail(); return false;"><i class="fa fa-times"></i>&nbsp;@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Cancel"))</a></li>
                            </ul>
                        </div>
                        <div class="box-body" style="display: block;">
                            @using (@Html.BeginForm("Edit", "SGeneralSetting", FormMethod.Post, new { @id = "form-edit", @class = "form-horizontal" }))
                            {
                                @Html.Partial("_Form", Model)
                            }
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#form-edit").submit(function (e) {
        $('.se-pre-con').show();
        $.ajax({
            url: $(this).attr('action'),
            type: "post",
            data: new FormData(this),
            processData: false,
            contentType: false,
            success: function () {
                $('.se-pre-con').hide();
                CloseDetail();
                Search();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $('.se-pre-con').hide();
                $(".detail-view").html(jqXHR.responseText);
            }
        });
        e.preventDefault();
    });

    $(document).ready(function () {
        $("#storeDdl").select2({
            placeholder: "@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Please choose store"))",
            //allowClear: true
        });

        $("#ddlTaxType").select2({
            placeholder: "@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Please choose tax type"))",
            //allowClear: true
        });
        $("#ListMachineID").select2({
            placeholder: "@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Please choose MachineID"))",
            //allowClear: true
        });
        $("#ListDate").select2({
            placeholder: "@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Please choose Date"))",
            //allowClear: true
        });
        $("#ListHour").select2({
            placeholder: "@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Please choose Hour"))",
            //allowClear: true
        });
        $("#ListSeparator").select2({
            placeholder: "@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Please choose Separator"))",
            //allowClear: true
        });
        $("#ListSoundPrepare").select2({
            placeholder: "@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Please choose Sound Prepare"))",
            //allowClear: true
        });
        $("#ListSoundServe").select2({
            placeholder: "@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Please choose Sound Serve"))",
            //allowClear: true
        });
        $("#ddlInvoice").select2({
            placeholder: "@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Please choose Invoice"))",
            //allowClear: true
        });
        
        if ($("input.flat")[0]) {
            $(document).ready(function () {
                $('input.flat').iCheck({
                    checkboxClass: 'icheckbox_flat-green',
                    radioClass: 'iradio_flat-green'
                });
            });
        }
    });
</script>
