@using NuWebNCloud.Shared
@using NuWebNCloud.Shared.Utilities;
@model NuWebNCloud.Shared.Models.Settings.DeliverySettingDTO

<tr data-id="@Model.ID" style='@string.Format("display:{0}", Model.Status==9?"none":"table-row")' class="PostalRow">
    <td>
        @Html.Hidden(string.Format("ListPostalCode[{0}].OffSet", Model.OffSet), Model.OffSet)
        @Html.Hidden(string.Format("ListPostalCode[{0}].Status", Model.OffSet), Model.Status, new { @class = "GroupStatus" })
        @Html.Hidden(string.Format("ListPostalCode[{0}].ID", Model.OffSet), Model.ID)
        @Html.Hidden(string.Format("ListPostalCode[{0}].Type", Model.OffSet), Model.Type)
        @Html.TextBox(string.Format("ListPostalCode[{0}].Value1", Model.OffSet), Model.Value1, new
    {
        @class = "form-control input-number",
        @type = "number",
        @min = 0
        //@maxlength = 2
    })
        @Html.ValidationMessage(string.Format("ListPostalCode[{0}].Value1", Model.OffSet))
    </td> 
    <td width="50px">
        <a href="#" onclick="DeleteTabPanelPostal(this); return false;" @string.Format("display:{0}", Model.OffSet == -1 ? "none" : "block")">
            <i class="glyphicon glyphicon-minus-sign" style="font-size: 25px; color: red; padding: 5px 0px; "></i>
        </a>
    </td>
</tr>

<script type="text/javascript">
    $(document).ready(function () {
    });
</script>