@using NuWebNCloud.Shared.Utilities;
@model NuWebNCloud.Shared.Models.Sandbox.Inventory.Product.ProductModels
@if (Model.LstPrinter != null)
{
    for (int i = 0; i < Model.LstPrinter.Count; i++)
    {
        <tr data-id="@Model.LstPrinter[i].Id" class="PrinterSeason" style="cursor:pointer;"
            data-value="@Model.LstPrinter[i].PrinterName" onclick="TogglePrinter(this); return false;">
            <td width="98%">
                @Model.LstPrinter[i].PrinterName
                @Html.Hidden(string.Format("LstPrinter[{0}].PrinterName", i), Model.LstPrinter[i].PrinterName)
                @Html.Hidden(string.Format("LstPrinter[{0}].Id", i), Model.LstPrinter[i].Id)
                @Html.Hidden(string.Format("LstPrinter[{0}].IsMapProduct", i), Model.LstPrinter[i].IsMapProduct)
                @Html.Hidden(string.Format("LstPrinter[{0}].Status", i), Model.LstPrinter[i].Status, new { @class = "PrinterStatus" })
            </td>
            <td style="text-align: center; width:2%" >
                <i class="fa @string.Format("{0}", Model.LstPrinter[i].Status != 9 ? "fa-check":"")"></i>
            </td>
        </tr>
    }
}
