@using NuWebNCloud.Shared.Utilities;
@using NuWebNCloud.Shared
@model NuWebNCloud.Shared.Models.Sandbox.Inventory.Product.ProductModels

@if (Model.ListSeasonPOS != null)
{
    for (int i = 0; i < Model.ListSeasonPOS.Count; i++)
    {
        <tr data-id="@Model.ListSeasonPOS[i].ID" class="NameSeasonPOS" style="cursor:pointer;" data-value="@Model.ListSeasonPOS[i].Name" onclick="ToggleSeasonPOS(this); return false;">
            <td width="20%">
                @Model.ListSeasonPOS[i].Name

                @Html.Hidden(string.Format("ListSeasonPOS[{0}].Name", i), Model.ListSeasonPOS[i].Name)
                @Html.Hidden(string.Format("ListSeasonPOS[{0}].ID", i), Model.ListSeasonPOS[i].ID)
                @Html.Hidden(string.Format("ListSeasonPOS[{0}].RepeatType", i), Model.ListSeasonPOS[i].RepeatType)
                @Html.Hidden(string.Format("ListSeasonPOS[{0}].StartDate", i), Model.ListSeasonPOS[i].StartDate)
                @Html.Hidden(string.Format("ListSeasonPOS[{0}].EndDate", i), Model.ListSeasonPOS[i].EndDate)
                @Html.Hidden(string.Format("ListSeasonPOS[{0}].StartTime", i), Model.ListSeasonPOS[i].StartTime)
                @Html.Hidden(string.Format("ListSeasonPOS[{0}].EndTime", i), Model.ListSeasonPOS[i].EndTime)
                @Html.Hidden(string.Format("ListSeasonPOS[{0}].Status", i), Model.ListSeasonPOS[i].Status, new { @class = "SeasonStatus" })
                @Html.Hidden(string.Format("ListSeasonPOS[{0}].IsPOS", i), Model.ListSeasonPOS[i].IsPOS)

            </td>
            <td width="40%">
                @if (Model.ListSeasonPOS[i].RepeatType == (byte)Commons.ERepeatType.DayOfWeek)
                {
                    Model.ListSeasonPOS[i].ListWeekDayV2 = Model.ListSeasonPOS[i].ListWeekDayV2.Where(x => x.IsActive == true).ToList();

                    if (Model.ListSeasonPOS[i].ListWeekDayV2.Count == 7)
                    {
                        @Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Every day of week"))
                        }
                        else if (Model.ListSeasonPOS[i].ListWeekDayV2.Count == 0)
                        {
                        @Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("None"))
                        }
                        else
                        {
                            for (int d = 1; d <= Model.ListSeasonPOS[i].ListWeekDayV2.Count; d++)
                            {
                                int day = Model.ListSeasonPOS[i].ListWeekDayV2[d - 1].Index;
                            @Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey(Model.ListSeasonPOS[i].ListWeekDayV2[d - 1].Name))
                                            if (d % 4 == 0)
                            {
                                @Html.Raw("<br/>")
                            }
                            else
                            {
                                if (!(d == Model.ListSeasonPOS[i].ListWeekDayV2.Count))
                                {
                                    @:-
                                                }
                            }
                        }
                    }
                }
                else if (Model.ListSeasonPOS[i].RepeatType == (byte)Commons.ERepeatType.DayOfMonth)
                {
                    Model.ListSeasonPOS[i].ListMonthDayV2 = Model.ListSeasonPOS[i].ListMonthDayV2.Where(x => x.IsActive == true).ToList();
                    if (Model.ListSeasonPOS[i].ListMonthDayV2.Count == 31)
                    {
                        @Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Every day of month"))
                                        }
                        else if (Model.ListSeasonPOS[i].ListMonthDayV2.Count == 0)
                        {
                        @Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("None"))
                                        }
                        else
                        {
                            for (int d = 1; d <= Model.ListSeasonPOS[i].ListMonthDayV2.Count; d++)
                            {
                                int day = Model.ListSeasonPOS[i].ListMonthDayV2[d - 1].Index;
                            @:@day
                                                if (d % 10 == 0)
                            {
                                @Html.Raw("<br/>")
                            }
                            else
                            {
                                if (!(d == Model.ListSeasonPOS[i].ListMonthDayV2.Count))
                                {
                                    @:-
                                                }
                            }
                        }
                    }
                }
            </td>
            <td width="10%">
                @Model.ListSeasonPOS[i].StartDate.ToString("dd/MM/yyyy")
            </td>
            <td width="10%">
                @Model.ListSeasonPOS[i].EndDate.ToString("dd/MM/yyyy")
            </td>
            <td width="18%" style="text-align:center;">
                @if (Model.ListSeasonPOS[i].Unlimited)
                {
                    @:@Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Unlimited")) - @Html.Raw(_AttributeForLanguage.CurrentUser.GetLanguageTextFromKey("Unlimited"))
                }
                else
                {
                    @Model.ListSeasonPOS[i].StartTime.Value.ToString("HH:mm") @:- @Model.ListSeasonPOS[i].EndTime.Value.ToString("HH:mm")
                }
            </td>
            <td style="text-align: center;" width="2%">
                <i class="fa  @string.Format("{0}", Model.ListSeasonPOS[i].Status != 9 ?"fa-check":"")" id="chkActive"></i>
            </td>
        </tr>
    }
}